{
	"singleQuote": true,
	"trailingComma": "es5",
	"tabWidth": 2,
	"semi": true,
	"useTabs": false,
	"endOfLine": "lf",
	"printWidth": 160,
	"insertFinalNewline": true,
	"trimTrailingWhitespace": true,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"printWidth": 0,
				"trimTrailingWhitespace": true,
				"insertFinalNewline": true,
				"tabWidth": 2,
				"semi": true,
				"useTabs": false,
				"endOfLine": "lf",
				"singleQuote": true
			}
		}
	]
}
